*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
}
nav{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    height: 80px;
    justify-content: center;
    background-color: black;

}
.nav-container{
    width: 75%;

    display: flex;
    
}
.slide-btn{
    display: none;
}
.logo{
    height: 100%;
    width: 50%;

    color: white;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
}
.logo p{
    margin: 0 0 0 5px;
}
.links{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.links a{
    color: white;
    font-size: medium;
    text-decoration: none;
    font-weight: 700;
}
.links a:hover{
    color: green;
}
.banner{
    border: 1px solid black;
    height: 600px;
    width: 100%;

    background: url('https://www.scdn.co/i/free/bubbles-dktp.svg')center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.phone{

    height: 80%;
    width: 19%;
    border-radius: 40px 40px 0 0 ;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: white;
    
}
.notch{
    width: 20%;

    border-radius: 20px;
    background-color: black;
    height: 6px;
    position: relative;
    top: 20px;
}
.phone-container{

    height: 90%;
    width: 100%;
    background-image: url('https://i.scdn.co/image/ab678e040000ed3aed58911aecc6dbc16949f40b');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}
.phone-right{

    height: 70%;
    width: 50%;
}
.info p{
    color: white;
    font-size: 64px;
    font-weight: bolder;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
}
.get-btn button{
    margin: 40px 0 0 0;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: black;
    font-weight: 700;
    padding: 5px 15px;
}
.get-btn button:hover{
    transform: scaleX(105%);
    transform: scaleY(105%);
}
.middle-banner{
    height: 550px;

}
.why{
    width: 100%;
    height: 30%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.why p{
    font-size: 40px;
    font-weight: 900;

}
.services{
    height: 70%;
    width: 100%;
}
.services ul{
    display: flex;

    justify-content: space-evenly;
    align-items: center;

}

.features{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;


}
.img{
    align-self: center;
    height: 142px;
    width: 142px;

    margin-bottom: 30px;
}
#img1{
    background-image: url('https://i.scdn.co/image/ab671c3d0000f430678067184805befd38aa0f57');
    background-size: cover;
}
#img2{
    background-image: url('https://i.scdn.co/image/ab671c3d0000f430a6f822749d5c25c32ee31d66');
    background-size: cover;
}
#img3{
    background-image: url('https://i.scdn.co/image/ab671c3d0000f430eb43023b5332389f5094530d');
    background-size: cover;
}
#img4{
    background-image: url('https://i.scdn.co/image/ab671c3d0000f4309430062bc28461dc8fbde6bc');
    background-size: cover;
}
.img-info{
    height: 100px;
    width: 250px;

    display: flex;
    flex-direction: column;

    align-items: center;
}
.img-info h3{
    margin-bottom: 5px;
}
.img-info p{
    margin: 2px;
    padding: 0px;
}
.phone-block{
    display: none;
}
.lower-middle-banner{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    color: white;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;


}
.lower-middle-banner p{
    font-size: 67px;
    font-weight: bolder;

}
.faq{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.faq-container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


}
.q-heading{
    padding: 50px 0 50px 0 ;
    width: 100%;
    height: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.q-heading a{
    font-size: 35px;
    font-weight: bolder;

}
.questions{
    height: 65%;
    width: 100%;

}
.Q-box{
    display: flex;
    flex-direction: column;
    border-bottom: .3px solid rgba(128, 128, 128, 0.499);

    justify-content: flex-start;
    min-height: 70px;
    max-height: fit-content;
}
#q4{
    border-bottom: none;
}
.q{

    width: 100%;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.q:hover{
    background-color: hsla(0, 0%, 75%, 0.134);
}
.q a{
    font-size: 18px;
    font-weight: 900;
    
}
.q a:hover{
    text-decoration: underline;
}
.answers{


    font-size: 16px;
}
.answers ul li{
    list-style-type: none;
    margin: 5px;

}
.answers ul{
    margin: 0 0 20px 0;
}
.answers p{
 margin: 0px 0 30px 0;
}
.answers a{
    text-decoration: none;
    color: green;
    font-weight: 900;
}
.lower{
    height: 500px;
    width: 100%;
    border: 1px solid black;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background: url(https://www.scdn.co/i/free/lets-play.svg) center center / 100% no-repeat, linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%) rgb(108, 14, 224);

    justify-content: center;
    align-items: center;

}
.lower p{
    font-size: 90px;
    color: white;
    font-weight: 900;
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
}
.lower button{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: small;
    font-weight: 900;
    border: none;
    background-color: white;

}
.lower button:hover{
    transform: scaleX(105%);
    transform: scaleY(105%);
}
footer{
    
    width: 100%;
    height: 500px;
    max-height: fit-content;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: black;
    font-family: 'Poppins', sans-serif;

}

.name{

    height: 100px;
    width: 170px;

    color: white;
}

.jobs{
    


    height: 200px;
    width: 150px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    



}
.jobs a:hover{
    color: green;
}
.resources a:hover{
    color: green;
}
.company a:hover{
    color: green;
}
.resources{


    height: 300px;
    width: 150px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

}
.company{


    height: 230px;
    width: 150px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
.social-links{




    height: 200px;
    width: 250px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.fb,.insta,.twitter{
    height: 60px;
    width: 60px;

   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   background-color: hsla(0, 0%, 75%, 0.137);

}
.social-links a{
    color: white;
}

#footer-head-links{
    color: hsl(0, 0%, 75%);
}
.jobs a,.resources a,.company a{
    color: white;
    text-decoration: none;
    margin: 5px;
}
.legal{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.box1{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    font-size: small;
}
.box2{
    width: 20%;
display: flex;
flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}
.box2 a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    font-size: small;
}
.box1 a:hover,.box2 a:hover{
    color: green;
}

@media only screen and (max-width: 392px) {
   *{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
   }
   body{
    height: 1200px;
   }
    nav{
        width: 392px;
        height: 50px;
        justify-content: flex-start;
        align-items: center;
    }
    .slide-btn{
        display: inline-block;

        position: relative;
        left: 170px;
    }
    .slide-btn button{
        background-color: black;
        border: none;
        color: white;
    }
#slide-options{
    position: absolute;
    background-color: rgb(0, 0, 0);
    max-height: 460px;
    width: 392px;
    animation: slide .3s  ;
    -webkit-animation: slide .3s  ;
    

    
}
#animate-logo{
    animation: slideP .4s ;
   -webkit-animation: slideP .4s ;
}
@keyframes slideP {
    0%{
        position: relative;
        left: 350px;
    }
    100%{
        position: relative;
        left: 0px;
    }
}
@keyframes slide {
    0%{
        position: absolute;
        left: 385px;
    }
    
    100%{
        position:absolute;
        left: 0px;
    }
}
#slide-options p{
    margin-left: 30px;
    margin-bottom: 25px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
#slide-options p a{
    color: hsl(0, 0%, 75%);
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
}
#slide-options p span{
    font-size: 17px;
}

    .links{
        display: none;
    }
    .logo{
        margin-left: 10px;
        font-size: medium;
        height: 60%;
    }
    .banner{
        width: 392px;
        height: 400px;
        background: url(https://www.scdn.co/i/free/bubbles-mobile.svg) center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .phone{
        display: none;
    }
    .phone-right{
        margin-left: 20px;

    }
    .info{

        width: 392px;
    }
    .info p{
        font-size: 40px;
    }
    .middle-banner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        height: fit-content;
    }
    .why{
        margin-top: 20px;

        display: flex;
        justify-content: flex-start;

    }
    .why p{
        margin-left: 20px;
        font-size: 30px;
        font-weight: bolder;
    }
    .services ul{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .services ul li{
        margin: 10px;
        display: flex;
        flex-direction: row;
        position: relative;

    }
    .img{
        

        height: 100px;
        width: 100px;
        margin-right: 20px;
    }
    .img-info{
        display: flex;
        align-items: flex-start;
    }
    .phone-block{
        
        display: flex;
        width: 392px;
        height: 400px;

        flex-direction: column;
        align-items: center;
    }
    .p-container{
        position: relative;
        top: 100px;
        width: 55%;
        height: 70%;
        border: .3px solid whitesmoke;
        box-shadow: 10px 5px 20px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px 20px 0 0;
    }
    .notch{
        width: 50px;
        height: 5px;
        border-radius: 5px;
        border: 1px solid black;
    }
    .screen{
        
        width: 95%;
        height: 230px;
        
        background-image: url('https://i.scdn.co/image/ab678e040000ed3ae21e83c79ebd4e3d5083bcf0');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    .l-block{
        border-radius: 160px 0px 0 0 ;
        margin-left: 0;
        position: relative;
        bottom: 420px;
        width: 150px;
        right: 62px;
        height: 220px;

        background-color:rgb(176, 35, 194) ;
    }
    .r-block{
        border-top-left-radius: 0px;
        border-top-right-radius: 210px;
        margin-left: 0;
        position: relative;
        bottom: 940px;
        width: 150px;
        left: 305px;

        height: 130px;

        background-color:rgb(176, 35, 194) ;

    }
    
    .gradient-container{
        position: absolute;
        top: 1470px;
        width: 100%;
        height: 29%;

        background: linear-gradient(transparent, rgb(176, 35, 194));
    }

    .lower-middle-banner{
        position: relative;
        bottom: 15px;
        width: 392px;
       height: 200px;
    }
    .lower-middle-banner p{
        font-size: 30px;
    }
    .faq{
        display: flex;
        justify-content: flex-start;
        height: fit-content;
    }
    .faq-container{

        position: relative;
        left: 40px;
        bottom: 230px;
        
    }
    .q-heading a{
        font-size: 27px;
    }
    .q a{
        font-size: smaller;
    }
    .answers{
        font-size: x-small;
    }
    .lower{
        position: relative;
        bottom: 300px;
        height: 400px;
    }
    .lower p{
        width: 65%;
        font-size: 50px;
    }
    .lower button{
        color: black;
        font-size: 10px;
        width: 130px;
        height: 35px;
        position: relative;
        right: 35px;

    }
    footer{
        width: 375px;
        position: relative;
        bottom: 300px;
        padding-top: 30px;
        padding-left: 20px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
    }
    .name h1{
        font-size: 20px;
    }
    .jobs,.resources,.company{
        font-size: 16px;

        display: flex;
        align-content: flex-start;

    }
   
    .social-links{
        position: relative;
        top: 70px;
        right: 20px;
    }
    .legal{
        position: relative;

        bottom: 310px;
        width: 392px;
        justify-content: flex-start;
    }
    .box1{
        display: flex;
        position: relative;
        left: 15px;
        width: 60%;
        justify-content:space-evenly;
        flex-wrap: wrap;

    }
    #a1{
position: relative;
right:27px;

    }
    #a2{
        position: relative;
        right: 40px;
    }
    .box1 a{
        font-size: 12px;
        margin: 10px;
    }
    .box2{
        display: flex;

        width: 40%;
        justify-content:flex-start;
        align-items: center;
        flex-wrap: wrap;
        align-items: space-between;
        height: 80px;
        position: relative;
        bottom: 25px;

    }
    .box2 a{
        font-size: 12px;
        margin: 10px;

    }
    }
  